/*--------------------------------------------------------------
  11. Common Page Title
----------------------------------------------------------------*/

.common-page-title {
  margin-bottom: 30px;
  .page-title {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 767px) {
  .common-page-title {
    margin-bottom: 20px;
    .page-title {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 575px) {
  .common-page-title {
    margin-bottom: 15px;
    .page-title {
      font-size: 24px;
    }
  }
}
